/* css */
.main-background{
  background-color: #c2c2d6;
}
.main-title{
  color: white;
  background-color: black;
  text-align: center;
  padding: 1.5vw;
}
.sub-header{
  font-size: 2.25vw;
  margin-top: 4vw;
  margin-bottom: 1.5vw;
}
.sub-text{
  font-size: 1.75vw;
  line-height: 4vw;
}
.first-button{
  text-align: center;
}
.quiz-button{
  padding: 2vw 7vw;
  margin-top: 2vw;
  margin-bottom: 6vw;
  color: white;
  background-color: black;
  border-radius: 10vw;
}
.indent{
  margin-left: 2vw;
}
.questions{
  font-size: 1.75vw;
  margin-bottom: 1.5vw;
}
.radio-container{
  display: block;
  position: relative;
  padding-left: 3vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-button{
  position: absolute;
  top: 0;
  left: 0;
  height: 2vw;
  width: 2vw;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .custom-button {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .custom-button {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-button:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .custom-button:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .custom-button:after {
  top: .7vw;
  left: .7vw;
  width: .6vw;
  height: .6vw;
  border-radius: 50%;
  background: white;
}
#Quiz-Page{
  display: none;
}
