/* css */
.main-background{
  background-color: #c2c2d6;
}
.main-title{
  color: white;
  background-color: black;
  text-align: center;
  padding: 1.5vw;
}
.sub-header{
  margin-top: 2vw;
}
p{
  line-height: 2vw;
}
#Quiz-Page{
  display: none;
}
