/* css */
.main-background{
  background-color: #c2c2d6;
}
.main-title{
  color: white;
  background-color: black;
  text-align: center;
  padding: 1.5vw;
}
.sub-header{
  font-size: 2.25vw;
  margin-top: 4vw;
  margin-bottom: 1.5vw;
}
.sub-text{
  font-size: 1.75vw;
  line-height: 4vw;
}
#Quiz-Page{
  display: none;
}
